body {
    background-image: url(images/benjamin-voros-phIFdC6lA4E-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;

    overflow: scroll;
    margin: 0 0;
    padding: 0 0;
}

header {
    background-color: #05111f96;
    padding-top: 24px;
}
h1 {
    margin: 0 0;
    background-color: #05111f96;
    color: #D19FBA;
    text-align: center;
    padding: 8px 0;
}
h2 {
    background-color: #05111f96;
    color: #D19FBA;
    text-align: center;
    padding: 8px 0;
}

ul.top_nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #05111f;
    padding-left: 0;

    /* Centering List */
    text-align: center;
}

ul.top_nav li {
    /* Centering List */
    display: inline-block;
}

ul.top_nav li a {
    display: block;
    color: #ebe0e6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
/* ul.top_nav li a:hover {  */
    background-color: #2c4059;
}
a:link, a:visited, a:active {
    color: #ebe0e6;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}